
body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
}

.container {
  max-width: 600px;
  margin: auto;
}

h1 {
  font-size: 2em;
}

h2, p {
  margin-top: 20px;
  font-size: 1.5em;
  color: #ccc;
}

label {
  display: block;
  margin: 15px auto;
  font-size: 1em;
}
